* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 :root {
    --light: aquamarine;
    --dark: rgb(71, 71, 71);
    --border: whitesmoke;
 }
 
 body {
    padding: 10px;
    background-color: var(--dark);
    color: white;
 }

 #viewport {
     display: flex;
     /* makes the hear size itself based on columns instead of row  */
     flex-direction: column;
     /* adds a gap under the header  between the vertical  */
     gap: 30px;
 }

 header {
     display: flex;
     flex-direction: column;
     font-size: 200%;
     align-items: center;
 }
/*grabed the header footer and columns and adds outline to it  */
header, footer, .column { 
     outline: 1px solid var(--light);
     min-height: 100px;
     display: flex;
     justify-content: center;
     border-radius: 10px;
 }
 
 
/* grabed the header and footer to  */
 header, footer {
     /* make the width 100% of the page  */
     width: 100%;
     box-shadow: inset 0px 0px 8px var(--light), 0 0 15px var(--light);
 }

.column {
    /* outline: 1px solid black; */
    /* vh take as much space it can */
    height: 100vh;
    /* sets the middle to 60% width */
    /* width: 70%; */
    /* add paddin to the left specifically  */
    padding-left: 10px;
    /* add padding to the right specifically */
    padding-right: 20px;
    box-shadow: inset 0px 0px 8px var(--light), 0 0 15px var(--light);
    
    
}

.column2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    
}


.column1, .column3 {
     display: flex;
    flex-direction: column; 
     flex-wrap: wrap; 
    width: 15%;
    height: 400px;
    text-align: center;

}

/* flex container holds the column elements 
set up flex for the columns  */
.flex-container {
    display: flex;
    /* makes everything align in one row */
    flex-direction: row;
    /* Wrap the text to a new level */
    /* Flex wrap comes into play when their is not enough space */
    flex-wrap: wrap;
    /* put a gap between each div  */

    gap: 0px;
    /* to add spacing between the elements use padding  */
    /* adding padding to the element will add space between each element
    content */
    flex-direction: flex-start;
    align-items: center;


    
}

.flexbox {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 1.2rem;
    gap: 10px
} 



.img {
    border-radius: 10px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-height: 45%;
    max-width: 35%;
    background-image: linear-gradient(to bottom right,
        var(--light),
        var(--dark)
    );
    border-radius: 10px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: inset 0px 0px 8px var(--light), 0 0 15px var(--light);
  }
  /* .code:hover,
.code:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--light), 0 0 15px var(--light);
} */
  
  a {
    color: inherit;
    text-decoration: inherit;
  }
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    font-size: 30px;
    color: var(--dark);
    text-align: center;
  }

.avatar {
    vertical-align: middle;
    width: 90%;
    height: 45%;
    border-radius: 50%;
}

.job {
    font-size: 30px;
}